.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 7.5s linear;
  height: 80px;
}

.App-header {
  background-color: #696969;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  text-align: middle;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

tr, td {
  border-bottom: 2px solid lightgrey;
}


#todos {
  margin: 0   auto;
  width: 70%;
}
